@import '../../../app/config';
@import '../../../app/mixins';

body {
  font-family: 'Lato';
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0.25rem 2rem;

  @include screen-xl() {
    padding: 0;
  }
}