---
layout: base.njk
title: Step Four - Thank You
permalink: step-4.html
step: four
---
<main>
  <section class="banner">
    <img class="topStrip" src="/assets/img/top-strip.png" alt="" />
    <div class="container">
      <div class="intro">
        <h1>Headline goes here</h1>
        <p>Aritati occullo dolupta tusamusamus, qui quo eaquisquis ipsae volum quos anti con necaborporum ius reprati ommoditae odioreperspe es commod quam sitiisi tatatus.</p>
        <p>Ossitin re est, a audi dit et faccab in proratum serum velendit et enditem poresti nusandi blabor modi quia quiant labore vel ilit, volorio omnisit aut excest, optam quidit as dunt fugit aut volorum sequia nobis elibus arcim quia nam, quidis plaboritio te venit quas evendia.</p>
      </div>
      <img src="https://via.placeholder.com/200" alt="img" />
    </div>
  </section>
</main>