---
layout: base.njk
title: Step Three - Stripe Payment
permalink: step-3.html
meta_description: 
---
<main class="container">
  <div class="payment">
    Stripe Payment Form
  </div>
  <div class="buttonGroup">
      <a href="step-2.html" class="button">Previous</a> <a class="button" href="step-4.html">Next</a> 
    </div>
</main>