<header>
  <div class="topLogoBar">
    <img src="/assets/img/logo.svg" alt="Constellation" />
    <p><a href="tel:800-000-0000">1-800-000-0000</a></p>
  </div>
  {% if step != 'one' and step != 'four' %}
    <img class="topStrip" src="/assets/img/top-strip.png" alt="" />
  {% endif %}
</header>