.push-top { margin-bottom: auto; }
.push-bottom { margin-top: auto; }
.push-right { margin-left: auto; }
.push-left { margin-right: auto; }

.text--left { text-align:left; }
.text--center { text-align:center; }
.text--right { text-align:right; }