.l-grid {
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: $space;
  grid-row-gap: $space;

  @media all and (-ms-high-contrast: none) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -$space;
    margin-right: -$space;

    > * {
      margin: $space;
    }
  }

  &-item {
    position: relative;
  }

  &--lg-gutters {
    grid-column-gap: $space-triple;
    grid-row-gap: $space-triple;
  }

  &--md-gutters {
    grid-column-gap: $space-double;
    grid-row-gap: $space-double;
  }

  &--2up {
    @include screen-sm() {
      grid-template-columns: repeat(2, 1fr);
    }

    @media all and (-ms-high-contrast: none) {
      > * {
        width: calc(50% - #{$space-double});
      }
    }
  }

  &--3up {
    
    grid-template-columns: repeat(2, 1fr);
    
    @include screen-md() {
      grid-template-columns: repeat(3, 1fr);
    }

    @media all and (-ms-high-contrast: none) {
      > * {
        width: calc(33.333% - #{$space-double});
      }
    }
  }

  &--4up {
    grid-template-columns: repeat(minmax(200px, 1fr));

    @include screen-sm() {
      grid-template-columns: repeat(2, 1fr);
    }

    @include screen-md() {
      grid-template-columns: repeat(3, 1fr);
    }

    @include screen-lg() {
      grid-template-columns: repeat(4, 1fr);
    }
    
    @media all and (-ms-high-contrast: none) {
      > * {
        width: calc(25% - #{$space-double});
      }
    }
  }

  &--4up--at-medium {
    grid-template-columns: repeat(2, 1fr);
    
    @include screen-md() {
      grid-template-columns: repeat(3, 1fr);
    }

    @include screen-lg() {
      grid-template-columns: repeat(4, 1fr);
    }

    @media all and (-ms-high-contrast: none) {
      > * {
        width: calc(25% - #{$space-double});
      }
    }
  }

  &--5up {
    grid-row-gap: $space * 2;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    
    @include screen-md() {
      grid-template-columns: repeat(5, 1fr);
    }
    
    @media all and (-ms-high-contrast: none) {
      > * {
        width: calc(20% - #{$space-double});
      }
    }
  }
}
